{% extends 'navbar.html' %}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/KL.svg'%}" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Welcome to KLU</h5>
    <p class="card-text">Welcome to Y22-PFSD-S11</p>
    <a href="#" class="btn btn-primary">More</a>
  </div>
</div>
{% endblock %}
</body>
</html>